*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.cursor/rules/memory-bank/activeContext.md
.cursor/rules/memory-bank/progress.md
.cursor/rules/memory-bank/projectbrief.md
.cursor/rules/memory-bank/systemPatterns.md
.cursor/rules/memory-bank/techContext.md
